<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm7.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/proj_icon_3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="app.main.MainActv"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.main.ALActv"></activity>
        <activity android:name="app.main.PlayActv" android:screenOrientation="portrait"></activity>
        <activity android:name="app.main.BMActv" android:screenOrientation="portrait"></activity>
        <service android:name="app.services.Service_ShowProgress"></service>
        <activity android:name="app.main.ImpActv" android:screenOrientation="portrait"></activity>
        
        
        
    </application>

</manifest>
